doctype html
html
  head
    meta(charset='UTF-8')
    title jquery ajax json search 
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      h2.center.light-blue-text Search
      .row
        .col.s12(class='center> <form role=')
          .form-group
            input#jsonSearch.form-control.input-lg(type='search', placeholder='Search...')
          #jsonSearchresults
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/index.js')